footer.Autor
    p.Autor__Titulo
        | Challenge by 
        a(href="https://www.frontendmentor.io/challenges" target="_blank" rel="noreferrer") Frontend Mentor
        | .
        br
        |
        | Coded by 
        a(href="https://github.com/duquerson?tab=repositories") Yeferson Soto.