head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="primeros pasos con html5 y css3")//- descripcion de la pagina web para buscadores
    meta(name="robots" content="index,follow")//- pocicionamiento y seguimiento de buscadores web
    +Css